@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 80%;
    background: #F8F8FF;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: linear-gradient(-45deg, #4481eb, #049afe);
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form,
.content {
    box-shadow: 0 6px 10px rgba(0,0,0,.15);
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: none;
    background: white;
    border-radius: 0px 0px 10px 10px;
}


.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    font-weight: 500;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.input-group input::placeholder {
    color: #aaa;
    font-weight: 600;
}

.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 10px;
}

.smallbtn {
    width: 150px;
    height: 29px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #fd5959;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 10px;
}

.btn:hover {
    background-color: #4d84e2;
}

.smallbtn:hover {
    background-color: #fda359;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

.logoutmsg {
    color: #a94442;
    text-transform: uppercase;
}

.welcomemsg {
    color: #070707;
    text-transform: uppercase;
}

.image_1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 25%;
}
.image_2 {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 25%;
}

